marcxml/dtd/MARC21slim.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<!--collection is a top level container element for 0 or many records-->
<!ELEMENT collection (record)*>
<!ATTLIST collection
	id ID #IMPLIED
>
<!--record is a top level container element for all of the field elements which compose the record-->
<!ELEMENT record (leader, controlfield*, datafield*)?>
<!ATTLIST record
	type NMTOKEN #IMPLIED
	id ID #IMPLIED
>
<!--MARC21 Leader, 24 bytes-->
<!ELEMENT leader (#PCDATA)>
<!ATTLIST leader
	id ID #IMPLIED
	space (default | preserve) #IMPLIED
>
<!--MARC21 Fields 001-009-->
<!ELEMENT controlfield (#PCDATA)>
<!ATTLIST controlfield
	id ID #IMPLIED
	tag CDATA #REQUIRED
	space (default | preserve) #IMPLIED
>
<!--MARC21 Variable Data Fields 010-999-->
<!ELEMENT datafield (subfield)+>
<!ATTLIST datafield
	id ID #IMPLIED
	tag CDATA #REQUIRED
	ind1 CDATA #REQUIRED
	ind2 CDATA #REQUIRED
>
<!ELEMENT subfield (#PCDATA)>
<!ATTLIST subfield
	id ID #IMPLIED
	code CDATA #REQUIRED
>
