premis/Object-v1-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2005 OCLC Online Computer Library Center and RLG Research Libraries Group -->
<!-- PREMIS Preservation Metadata Schema: Object  -->
<!-- Version 1.1, September 1, 2005 -->
<!-- Changes applied to this schema (since Version 1.0, May 17, 2005):
   - September 1, 2005.  Ray Denenberg, Library of Congress.
		- version changed to 1.1.
        - namespace changed (both xmlns and targetNamespace 
          from http://www.loc.gov/standards/premis 
          to http://www.loc.gov/standards/premis/v1.
        - version attribute added.
        - element relatedEventIdentification (within element relationship)
            added  minOccurs="0"
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.loc.gov/standards/premis/v1" targetNamespace="http://www.loc.gov/standards/premis/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="object">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="objectIdentifier" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="objectIdentifierType" type="xs:string"/>
							<xs:element name="objectIdentifierValue" type="xs:string"/>
						</xs:sequence>
						<xs:anyAttribute namespace="http://www.w3.org/1999/xlink/"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="preservationLevel" type="xs:string" minOccurs="0"/>
				<xs:element name="objectCategory" type="xs:string"/>
				<xs:element name="objectCharacteristics" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="compositionLevel" type="xs:nonNegativeInteger" minOccurs="0"/>
							<xs:element name="fixity" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="messageDigestAlgorithm" type="xs:string"/>
										<xs:element name="messageDigest" type="xs:string"/>
										<xs:element name="messageDigestOriginator" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="size" type="xs:long" minOccurs="0"/>
							<xs:element name="format" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="formatDesignation" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="formatName" type="xs:string"/>
													<xs:element name="formatVersion" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="formatRegistry" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="formatRegistryName" type="xs:string"/>
													<xs:element name="formatRegistryKey" type="xs:string"/>
													<xs:element name="formatRegistryRole" type="xs:string" minOccurs="0"/>
												</xs:sequence>
												<xs:anyAttribute namespace="http://www.w3.org/1999/xlink/"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="significantProperties" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:any namespace="##any" processContents="lax"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="inhibitors" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="inhibitorType" type="xs:string"/>
										<xs:element name="inhibitorTarget" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="inhibitorKey" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="creatingApplication" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="creatingApplicationName" type="xs:string" minOccurs="0"/>
							<xs:element name="creatingApplicationVersion" type="xs:string" minOccurs="0"/>
							<xs:element name="dateCreatedByApplication" type="xs:dateTime" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Element has data type of dateTime, which is a subset of ISO 8601, so the schema is more restrictive than the data dictionary.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="originalName" minOccurs="0">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:anyAttribute namespace="http://www.w3.org/1999/xlink/"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="storage" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="contentLocation" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="contentLocationType" type="xs:string"/>
										<xs:element name="contentLocationValue" type="xs:string"/>
									</xs:sequence>
									<xs:anyAttribute namespace="http://www.w3.org/1999/xlink/"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="storageMedium" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="environment" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="environmentCharacteristic" type="xs:string" minOccurs="0"/>
							<xs:element name="environmentPurpose" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="environmentNote" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="dependency" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="dependencyName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="dependencyIdentifier" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="dependencyIdentifierType" type="xs:string"/>
													<xs:element name="dependencyIdentifierValue" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="software" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="swName" type="xs:string"/>
										<xs:element name="swVersion" type="xs:string" minOccurs="0"/>
										<xs:element name="swType" type="xs:string"/>
										<xs:element name="swOtherInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="swDependency" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="hardware" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="hwName" type="xs:string"/>
										<xs:element name="hwType" type="xs:string"/>
										<xs:element name="hwOtherInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="signatureInformation" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="signatureInformationEncoding" type="xs:string"/>
							<xs:element name="signer" type="xs:string" minOccurs="0"/>
							<xs:element name="signatureMethod" type="xs:string"/>
							<xs:element name="signatureValue" type="xs:string"/>
							<xs:element name="signatureValidationRules" type="xs:string"/>
							<xs:element name="signatureProperties" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="keyInformation" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="keyType" type="xs:string"/>
										<xs:element name="keyValue" type="xs:string"/>
										<xs:element name="keyVerificationInformation" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="relationship" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="relationshipType" type="xs:string"/>
							<xs:element name="relationshipSubType" type="xs:string"/>
							<xs:element name="relatedObjectIdentification" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="relatedObjectIdentifierType" type="xs:string"/>
										<xs:element name="relatedObjectIdentifierValue" type="xs:string"/>
										<xs:element name="relatedObjectSequence" type="xs:nonNegativeInteger"/>
									</xs:sequence>
									<xs:attribute name="RelObjectXmlID" type="xs:IDREF" use="optional"/>
									<xs:anyAttribute namespace="http://www.w3.org/1999/xlink/"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="relatedEventIdentification" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="relatedEventIdentifierType" type="xs:string"/>
										<xs:element name="relatedEventIdentifierValue" type="xs:string"/>
										<xs:element name="relatedEventSequence" type="xs:nonNegativeInteger"/>
									</xs:sequence>
									<xs:attribute name="RelEventXmlID" type="xs:IDREF" use="optional"/>
									<xs:anyAttribute namespace="http://www.w3.org/1999/xlink/"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="linkingEventIdentifier" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="linkingEventIdentifierType" type="xs:string"/>
							<xs:element name="linkingEventIdentifierValue" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="LinkEventXmlID" type="xs:IDREF" use="optional"/>
						<xs:anyAttribute namespace="http://www.w3.org/1999/xlink/"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="linkingIntellectualEntityIdentifier" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="linkingIntellectualEntityIdentifierType" type="xs:string"/>
							<xs:element name="linkingIntellectualEntityIdentifierValue" type="xs:string"/>
						</xs:sequence>
						<xs:anyAttribute namespace="http://www.w3.org/1999/xlink/"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="linkingPermissionStatementIdentifier" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="linkingPermissionStatementIdentifierType" type="xs:string"/>
							<xs:element name="linkingPermissionStatementIdentifierValue" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="LinkPermissionStatementXmlID" type="xs:IDREF" use="optional"/>
						<xs:anyAttribute namespace="http://www.w3.org/1999/xlink/"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="representation"/>
						<xs:enumeration value="file"/>
						<xs:enumeration value="bitstream"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="xmlID" type="xs:ID"/>
			<xs:attribute name="version" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1.1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
